@import "tailwindcss";


@theme {
  --color-background : #17161A;
  --color-primary : #45DCBF;
  --color-hero : #03302CF2;
  --color-primary-text : #03302C;
  --color-secondary-text : #105F55
}
@base{
* {

  box-sizing: border-box;
}
body{
  padding : 10px;
}
}

@layer components{
  .hero-background{

    background-image: linear-gradient(rgba(3, 48, 44, 0.95), rgba(3, 48, 44, 0.95)), url('public/images/heroImage.png');
    background-size: cover;
    background-position: center;
  }
  .grid-box-shadow{
    box-shadow: 0px 4px 20px 3px #03302C1A;

  }
  .flex-box-shadow {
    box-shadow: 0px 1px 10px 1px #03302C1A;

  }
  .stay-updated-box {
    box-shadow: 0px 1px 10px 1px #03302C1A;
    
  }
    

}
